# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.*bak
*.bck
*.sch-bak
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb
hardware/Snowflake-backups/**

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Fabrication Outputs: gerbers / boms / etc
*.xml
*.csv
**/outputs/

# Jupyter ignores
### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# VirtualEnv
# Edit at https://www.toptal.com/developers/gitignore?templates=virtualenv

### VirtualEnv ###
# preceded with docs, because that's where my venv is located
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
docs/[Bb]in
docs/[Ii]nclude
docs/[Ll]ib
docs/[Ll]ib64
docs/[Ll]ocal
docs/[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json